/* Clases utilitarias */
.inter {
  font-family: "Inter", sans-serif;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
